<nav>
  <div class="asana-tasks" ng-if="!dataLoaded">
    <center><img src="{{public}}images/ajax-loader.gif" alt="loading..." /></center>
  </div>
  <div class="asana-tasks" ng-controller="AsanaTaskController">
    <div ng-if="asanaTasks.length>0 && dataLoaded">
      <ul class="list-unstyled list-group tasks">
        <li
          ng-repeat="task in asanaTasks"
          ng-click='loadTaskTimesheets($event, task); select($index)'
          ng-class="{selected: $index == selected}"
          class="task list-group-item">
          <div>
            <p data-url='{{task.url}}'>
              {{ task.name }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<article>
  <div id='timesheet-aggregation' ng-controller="AggregaterController">
    <center ng-if="!timesheetsLoaded">Select an Asana Task</center>
    <div ng-if="timesheetsLoaded">
      <div>
        <b>Total Time Spent: </b>{{totalTimeSpent}}
      </div>
      <div>
        <b>Time Spent Today: </b>{{timeSpentToday}}
      </div>
    </div>
  </div>
  <div class="timesheets-display" ng-controller="QueryController">
    <div ng-if="timesheets.length>0">
      <ul class="list-unstyled">
        <li class="timesheet list-group-item" ng-repeat="timesheet in timesheets">
          <div>
            <pre ng-bind-html="timesheet"></pre>
          </div>
        </li>
      </ul>
    </div>
    <div ng-if="timesheets.length===0">
      <center>No Timesheets Found</center>
    </div>
  </div>
</article>
